@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.nav__btn {
	background-color: $brainflix-blue;
	background-image: url("../../../assets/images/icons/upload.svg");
	background-size: 2.2rem;
	background-repeat: no-repeat;
	background-position: 5% 50%;
	border: none;
	border-radius: 0.4rem;
	color: $white;
	height: 4rem;
	width: 100%;
	@include typography(1.3rem, 700, 2rem);
}
