@use "../../../styles/partials/mixins" as *;

.nav__avatar {
	background-image: url("../../../assets/images/images/Mohan-muruge.jpg");
	background-size: cover;
	position: absolute;
	right: 1.6rem;
	bottom: 7.2rem;

	@include tablet {
		position: static;
	}
}
