// Responsive Design Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Site Colors
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// Main Video and Side Videos Containers for Desktop Layout
$wide-width: 66%;
$wide-padding: 12rem;
$narrow-width: calc(100% - $wide-width);
$narrow-padding: 1.8rem;
