@use "../../styles/partials/mixins" as *;

.nav {
	padding: 1.6rem;
	@include flex-property($direction: column);
	gap: 1.6rem;
	position: relative;

	@include tablet {
		flex-direction: row;
		padding: 2.4rem 4rem;
		gap: 2.4rem;
	}

	@include desktop {
		padding-right: 12rem;
		padding-left: 12rem;
	}
}
