@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.video-player {
	@include flex-property($justify: center);
	background-color: $brainflix-darkblack;

	@include tablet {
		height: 39rem;
	}

	@include desktop {
		height: 50rem;
	}

	&__video {
		max-width: 100%;
		max-height: 56.25vw;
	}
}
