@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
	padding: 1.6rem;
	@include flex-property($direction: column, $justify: space-between);
	gap: 1.6rem;
	position: relative;

	@include tablet {
		flex-direction: row;
		padding: 2.4rem 4rem;
		gap: 2rem;
	}

	@include desktop {
		padding-right: 12rem;
		padding-left: 12rem;
	}

	&__logo {
		// width: 30%;
		align-self: center;
		max-height: 2.5rem;

		@include tablet {
			margin-right: 8rem;
		}

		@include desktop {
			margin-right: 40rem;
		}
	}
	&__search {
		background-image: url("../../assets/images/icons/search.svg");
		background-size: 1.5rem;
		background-repeat: no-repeat;
		background-position: 1.2rem 50%;
		background-color: $alabaster;
		border-radius: 0.4rem;
		height: 4rem;
		width: 80%;
		padding-left: 3.2rem;
		border: 1px solid $mercury;
		font-size: 1.2rem;

		&::placeholder {
			color: $brainflix-black;
		}

		@include tablet {
			width: 100%;
		}
	}
	&__btn-wrapper {
		width: 100%;

		@include tablet {
			width: 65%;
		}
	}
	&__btn {
		background-image: url("../../assets/images/icons/upload.svg");
		width: 100%;

		@include tablet {
			// width: 100%;
		}
	}
	&__avatar {
		background-image: url("../../assets/images/images/Mohan-muruge.jpg");
		background-size: cover;
		position: absolute;
		right: 1.6rem;
		bottom: 7.2rem;

		@include tablet {
			position: static;
		}
	}
}
