@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.comment-list {
	padding: 0 1.6rem;

	@include tablet {
		padding: 1rem 4rem 0;
	}
	@include desktop {
		padding-left: $wide-padding;
		padding-right: 0;
		width: $wide-width;
	}
}
