@use "./styles/partials/fonts" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "avenir-next";
	position: relative;
}
.avatar {
	border-radius: 50%;
	width: 100%;
	max-width: 4rem;
	height: 4rem;
}
.form-label {
	@include typography($text-size: 1.1rem, $text-weight: 600);
	color: $silver;
}

.form-text {
	@extend .form-long-text;
	height: 4rem !important;
}

.form-long-text {
	padding: 1.2rem;
	margin-top: 0.3rem;
	border: 1px solid $mercury;
	width: 100%;
	border-radius: 0.4rem;
	font-family: "avenir-next";
	font-size: 1.15rem;
	background-color: $alabaster;

	&::placeholder {
		color: $brainflix-black;
	}
}

.btn {
	background-color: $brainflix-blue;
	background-size: 1.8rem;
	background-repeat: no-repeat;
	background-position: 5% 50%;
	border: none;
	border-radius: 0.4rem;
	color: $white;
	height: 4rem;
	@include typography(1.3rem, 700, 2rem);
	cursor: pointer;

	@include tablet {
		padding: 0 3.2rem;
	}
}
