@use "./styles/partials/fonts" as *;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "avenir-next";
}
.avatar {
	border-radius: 50%;
	width: 100%;
	max-width: 4rem;
	height: 4rem;
}
