@use "./styles/partials/fonts" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "avenir-next";
}
.avatar {
	border-radius: 50%;
	width: 100%;
	max-width: 4rem;
	height: 4rem;
}
.btn {
	background-color: $brainflix-blue;
	background-size: 1.8rem;
	background-repeat: no-repeat;
	background-position: 5% 50%;
	border: none;
	border-radius: 0.4rem;
	color: $white;
	height: 4rem;
	cursor: pointer;
	@include typography(1.3rem, 700, 2rem);

	@include tablet {
		padding: 0 3.2rem;
	}
}
