@use "../../styles/partials/mixins" as *;

.not-found-page {
	padding: 1.6rem;

	@include tablet {
		padding: 2.4rem 4rem;
	}
	@include desktop {
		padding: 2.4rem 12rem;
	}

	&__header {
		@include typography(2.4rem, 600, 2.8rem);

		@include tablet {
			font-size: 3.3rem;
		}
	}
	&__message {
		padding: 0.5rem 0;
		@include typography(1.2rem, 400, 1.8rem);

		@include tablet {
			font-size: 1.4rem;
		}
	}
}
